.app_container {
    margin: 0 auto;
    margin-top: 10px;
    width: 960px;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .more {
            font-size: 12px;
            color: #999;
        }
    }
    .list {
        width: 990px;
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;

        .app_item {
            width: 465px;
            margin-right: 30px;
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;
            background: #fff;
            border-radius: 5px;
            padding: 10px;
            box-sizing: border-box;
            height: 170px;
            overflow: hidden;
            transition: all 0.3s;

            .img {
                width: 150px;
                height: 150px;
                transition: transform 0.3s;

                img {
                    height: 100%;
                }
            }
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);

                .img {
                    // transform: rotate(15deg);
                    transform: scale3d(1.1, 1.1, 1);
                }
            }
        }

        .info {
            position: relative;
            margin-left: 10px;
            padding-top: 10px;
            height: 140px;
            .tit {
                color: #34495e;
                font-size: 15px;
            }
            .txt {
                margin-top: 10px;
                color: #888;
                font-size: 85%;
                line-height: 150%;
            }
            .solog {
                background: #eee;
                color: #43a047;
                font-size: 80%;
                padding: 1px 2px;
                border-radius: 1px;
                margin-right: 5px;
            }
            .tips {
                position: absolute;
                left: 0;
                bottom: 10px;
                color: #bdbdbd;
                font-size: 12px;

                span {
                    margin-right: 15px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
#detail {
    margin: 0 auto;
    width: 960px;

    .box {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 260px;

        .down {
            display: flex;
            height: 250px;
            padding-top: 10px;
        }
        .logo {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .txts {
            margin-left: 10px;
            width: 400px;

            .tit {
                font-size: 21px;
                line-height: 30px;
            }
        }
        .banners {
            width: 400px;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .labels {
            margin-top: 20px;
            display: flex;
            align-items: center;

            .tag {
                margin-right: 10px;
                color: #3cd458;
                font-size: 12px;

                .fa {
                    margin-right: 5px;
                }
            }
        }
        .btns {
            margin-top: 30px;

            button {
                outline: none;
                border: none;
                height: 40px;
                padding: 0 20px;
                border-radius: 30px;
                margin-right: 10px;
                cursor: pointer;
            }
            .fa {
                margin-right: 10px;
            }
            .btn_down {
                background: #50a1ff;
                color: #fff;
            }
            .like {
                background: none;
                color: #50a1ff;
                border: #50a1ff 1px solid;
                &:hover {
                    background: #50a1ff;
                    color: #fff;
                }
            }
        }
        .auther {
            display: flex;
            margin-top: 30px;
            font-size: 14px;
            color: #999;

            .item {
                margin-right: 20px;

                a {
                    color: #50a1ff;
                }
            }
            .fa {
                margin-right: 5px;
            }
        }
    }
    .container {
        margin-top: 20px;
        background: #fff;
        box-shadow: 0 16px 48px #e7ebf6;
    }
    .info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 0 8px rgb(0 0 0 / 6%);

        .t1,
        .t3 {
            font-size: 10px;
            color: #3c4248;
            letter-spacing: 2px;
            opacity: 0.5;
        }
        .t2 {
            font-size: 20px;
            color: #3c4248;
            line-height: 1.5;
            font-weight: 600;
            opacity: 0.8;
        }
        .item {
            flex: 1;
            border-right: solid 1px #78828c17;

            &:last-child {
                border: none;
            }
        }
    }
    .contents {
        margin-top: 20px;
        background: #fff;
        padding: 0 20px;

        font-size: 16px;
        color: #666;
    }
    .history {
        background: linear-gradient(135deg, #f3ffe7ad 0px, #defff178 100%);
        padding: 20px 20px;

        .table {
            margin: 0 40px;
        }
        .list {
            display: flex;
            align-items: center;
            background: #fff;
            border-bottom: solid 1px #ccc;
        }
        .item {
            padding: 10px 10px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .version {
            width: 200px;
            font-size: 18px;
            padding-left: 40px;
            font-weight: 600;
        }
        .filesize {
            width: 140px;
        }
        .lange {
            width: 120px;
        }
        .date {
            width: 140px;
        }
        .table-head {
            font-size: 14px;
            font-weight: 400;
        }
        .btn {
            outline: none;
            border: none;
            cursor: pointer;
            background: none;
            .fa {
                font-size: 20px;
                color: #50a1ff;
            }
        }
    }
}
#down_box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;

    &.show {
        display: block;
    }
    .pop_box {
        position: relative;
        width: 360px;
        background: #fff;
        margin: 200px auto;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        overflow: hidden;

        .pop_content {
            padding: 30px;
        }
        .content {
            background: #efefef;
            padding: 10px;

            p {
                margin: 0;
            }
            .fa {
                margin-right: 8px;
            }
            span {
                font-size: 13px;
                margin-left: 10px;
            }
            a {
                color: #50a1ff;
            }
            .btn_copy {
                margin-left: 10px;
                float: right;
                border: none;
                background: none;
                font-size: 13px;
                color: #3cd458;
                cursor: pointer;
            }
        }
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }
    .pop_foot {
        background: #dfdfdf;
        text-align: center;
        padding: 10px 0;
        color: #50a1ff;
        cursor: pointer;
    }
}
