#shared {
    margin: 20px auto;
    width: 960px;

    .tuijian {
        height: 200px;
        text-align: center;
        line-height: 200px;
        position: relative;

        .btn {
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            background: #50a1ff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 30px;
            position: relative;

            &::before {
                background: #50a1ff;
                border-radius: 50px;
                content: "";
                display: block;
                height: 100%;
                opacity: 0.25;
                position: absolute;
                width: 100%;
                z-index: -1;
                top: 0;
                left: 0;
                animation: ripple 1.3s cubic-bezier(0.29, -0.01, 0.17, 0.95) infinite;
            }
        }
        .particles-js-canvas-el {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .wait_box {
        margin-top: 20px;

        h3 {
            span {
                margin-left: 10px;
                color: #999;
                font-size: 16px;
            }
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            width: 990px;
            margin-right: -30px;
        }
        .item {
            display: flex;
            width: 450px;
            align-items: center;
            background: #fff;
            margin-right: 20px;
            padding: 10px;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;

            .logo {
                width: 100px;
                height: 100px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .tit {
                margin-left: 10px;
                flex: 1;
            }
            .tit1 {
                margin-top: 5px;
                font-size: 18px;
            }
            .tit2 {
                margin-top: 10px;
                font-size: 12px;
                height: 40px;
                line-height: 20px;
                overflow: hidden;
            }
            .foot {
                margin-top: 5px;
                font-size: 12px;
                color: #999;

                .auther {
                    color: #50a1ff;
                }
                .filesize {
                    margin-left: 20px;
                }
            }
        }
    }
}

@keyframes ripple {
    to {
        transform: scaleX(1.3) scaleY(1.6);
        opacity: 0;
    }
}

#dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;

    &.show {
        display: block;
    }
    .box {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        background: #fff;
        transform: translate(-50%, -50%);
        padding: 10px 25px;
        border-radius: 10px;

        .item {
            margin-bottom: 10px;

            input {
                border: none;
                background: none;
                background: #efefef;
                font-size: 14px;
                padding: 10px 15px;
                width: 340px;
            }
            textarea {
                border: none;
                background: none;
                background: #efefef;
                font-size: 14px;
                padding: 10px 15px;
                width: 340px;
                max-width: 340px;
                min-height: 100px;
                line-height: 20px;
            }
            .title {
                width: 200px;
            }
            .small {
                width: 100px;
                margin-left: 10px;
            }
            button {
                outline: none;
                border: none;
                background: none;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
            }
            .submit {
                background: #50a1ff;
                color: #fff;
            }
            .cancel {
                margin-left: 10px;
            }
        }
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }
}
